{% extends 'Mailer/base.html.twig' %}
{% trans_default_domain 'cartesgouvfr' %}

{% block body %}
    <div>
        <p>{{ 'datastore_deletion_request.email_support.heading'|trans({'%datastore_name%': datastore_name}) }}</p>
        {{ 'datastore_deletion_request.email_support.details'|trans }}
        <p>
            <strong>{{ 'datastore_deletion_request.email_support.datastore_name'|trans }}</strong> {{ datastore_name }}<br />
            <strong>{{ 'datastore_deletion_request.email_support.datastore_id'|trans }}</strong> {{ datastore_id }}<br />
            <strong>{{ 'datastore_deletion_request.email_support.community_id'|trans }}</strong> {{ community_id }}
        </p>

        {{ 'datastore_deletion_request.email_support.supervisor_info'|trans }}
        <p>
            <strong>{{ 'mailer.user_email'|trans }} :</strong> {{ app.user.email }}<br />
            <strong>{{ 'mailer.last_name'|trans }} :</strong>{% if app.user.lastName is not empty %}
                {{ app.user.lastName }}
            {% else %}
                {{ 'contact.email_support.not_specified'|trans }}
            {% endif %}<br />
            <strong>{{ 'mailer.first_name'|trans }} :</strong>{% if app.user.firstName is not empty %}
                {{ app.user.firstName }}
            {% else %}
                {{ 'contact.email_support.not_specified'|trans }}
            {% endif %}<br />
            <strong>{{ 'mailer.user_id'|trans }} :</strong> {{ app.user.id }}<br />
            <strong>{{ 'mailer.date'|trans }} :</strong> {{ sendDate|date('d-m-Y H:i', 'Europe/Paris') }}
        </p>
        <hr />
    </div>
{% endblock %}
