<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}cartes.gouv.fr{% endblock %}</title>

        <link rel="apple-touch-icon" href="{{ asset('dsfr/favicon/apple-touch-icon.png') }}" />
        <link rel="icon" href="{{ asset('dsfr/favicon/favicon.svg') }}" type="image/svg+xml" />
        <link rel="shortcut icon" href="{{ asset('dsfr/favicon/favicon.ico') }}" type="image/x-icon" />
        <link rel="manifest" href="{{ asset('dsfr/favicon/manifest.webmanifest') }}" crossorigin="use-credentials" />

        <link rel="stylesheet" href="{{ asset('dsfr/utility/icons/icons.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('dsfr/dsfr.min.css') }}" />

        {% set fonts_list = [
            "Marianne-Regular",
            "Marianne-Medium",
            "Marianne-Bold",
        ] %}

        {% for font_name in fonts_list %}
            <link rel="preload" href="{{ asset('dsfr/fonts/' ~ font_name ~ '.woff2') }}" as="font" crossorigin="anonymous" />
        {% endfor %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {# fosjsrouting #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {# bazinga traducteur #}
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'cartesgouvfr', 'locales': 'fr' }) }}"></script>
    </body>
</html>
