<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="format-detection" content="telephone=no" />
        <title>
            {% block title %}
                cartes.gouv.fr
            {% endblock %}
        </title>
        <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png" />
        <link rel="icon" href="favicon/favicon.svg" type="image/svg+xml" />
        <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon" />
        <link rel="manifest" href="favicon/manifest.webmanifest" crossorigin="use-credentials" />

        {# <link rel="stylesheet" href="{{ asset('node_modules/@codegouvfr/react-dsfr/main.css') }}" /> #}

        {% set fonts_list = ['Marianne-Regular', 'Marianne-Medium', 'Marianne-Bold'] %}

        {% for font_name in fonts_list %}
            <link rel="preload" href="{{ asset('node_modules/@codegouvfr/react-dsfr/dsfr/fonts/' ~ font_name ~ '.woff2') }}" as="font" crossorigin="anonymous" />
        {% endfor %}

        {% block stylesheets %}
            {{ vite_entry_link_tags('dsfr') }}
            {{ vite_entry_link_tags('main') }}
            {# {{ encore_entry_link_tags('main') }} #}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('dsfr') }}
            {{ vite_entry_script_tags('main', {dependency: 'react', attr: {referrerpolicy: 'origin'}}) }}
            {# {{ encore_entry_script_tags('main') }} #}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        {# bazinga traducteur #}
        {# <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script> #}
        {# <script src="{{ path('bazinga_jstranslation_js', {domain: 'cartesgouvfr', locales: 'fr'}) }}"></script> #}
    </body>
</html>
