{% trans_default_domain "cartesgouvfr" %}

<p>{{ 'datastore_creation_request.email_support.datastore_name'|trans }} : {{ data.name }}<br>
{{ 'datastore_creation_request.email_support.datastore_technical_name'|trans }} : {{ data.technical_name }}<br><br>
{% if supervisor|length != 0 %}
    {{ 'datastore_creation_request.email_support.is_supervisor'|trans }}
    <ul>
    {% for communityName, id in supervisor %}
        <li>{{ communityName ~ ' (' ~ id ~ ')' }}</li>
    {% endfor %}
    </ul>
    <br>
{% endif %}
{% if member|length != 0 %}
    {{ 'datastore_creation_request.email_support.is_member'|trans }}
    <ul>
    {% for communityName, id in member %}
        <li>{{ communityName ~ ' (' ~ id ~ ')' }}</li>
    {% endfor %}
    </ul>
{% endif %}
</p>
