{% extends 'Mailer/base.html.twig' %}
{% trans_default_domain 'cartesgouvfr' %}

{% block body %}
    <div>
        <p>{{ 'join_community.email_acknowledgement.heading'|trans({'%name%': community.name}) }}</p>
        <hr />
        <p><strong>{{ 'join_community.email_acknowledgement.date'|trans }} : </strong>{{ sendDate|date('d-m-Y H:i', 'Europe/Paris') }}</p>
        <strong>{{ 'join_community.email_acknowledgement.message'|trans }}</strong><br>
        {{ message|e }}
    </div>
{% endblock %}
